.desktop {
    position: relative;
    width: 100vw;
    height: calc(100vh - 48px); /* 留出导航栏高度 */
    background: #0078d7;
    overflow: hidden;
}
.window-live{
    position: absolute;
    z-index: 2;

}

.window-live-active{
    box-shadow: 0 0 20px #2196f3;
    z-index: 10;
}
