:host {
    display: block;
    height: 100%;
    width: 100%;
}

.splitBox {
    display: flex;
    height: 100%;
    width: 100%;
    user-select: none; /* 拖动时防止选中文本 */
}

.left, .right {
    overflow: auto;
}

::ng-deep [left], ::ng-deep [right] {
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.divider {
    width: 2px;
    background-color: #ccc;
    cursor: col-resize;
    user-select: none;
}
