:host {
    /*display: block;*/
    display: flex;
    height: 100%;
    width: 100%;
}
.file-browser {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navigator{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px 0;
}
.navigator-item-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10px;
}
.navigator-item-group > button{
    border: none;
    background: transparent;
}
.address-bar{
    flex-direction: row;
    flex-grow: 1;
    display:flex;
    align-items:center;
}
.address-bar  input, #search-bar  input{
    font-size: 16px !important;
}
.breadcrumbs-address{
    width: 100%;
    display:flex;
    flex-direction: row;
    border: 1px solid black;
}
.breadcrumbs {
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
}
.breadcrumb-item{
    border: none;
    margin-right: 5px;
    background: white;
}
.breadcrumb-item::before{
    content: '' !important;
}
.breadcrumb-item:hover{
    background: lightgray;
    text-decoration: none;
}
.search-box{
    margin: 0 10px;
}

.quick-tool{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.normal-tools{
    margin: 0 10px;
}
.normal-tools > button{
    border: none;
    background: transparent;
    margin: 8px;
    padding: 6px 10px;
}
button.disabled {
    background: #dcd5d5;
}
.normal-tools > button:hover{
    background: lightgray;
}
.more-information{
    margin: 10px 10px;
}
.file-list {
    border: 1px solid #ccc; padding: 8px; max-height: 300px; overflow-y: auto;
}
.file-item {
    padding: 4px; cursor: pointer;
}
.file-item:hover {
    background-color: #eee;
}

.file-tree-and-view{
    flex: 1 1 auto;
    display: flex;
    height: 40px;
    flex-direction: column;
}
