/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.dont-select{
    user-select: none;
}
.border-none{
    border: none;
}
button.disabled > nz-icon{
    color: #b5b5b5;
}
