<div class="folder-list-wrapper" (contextmenu)="onWrapperRightClick($event)">
    <div class="folder-area">
        <div class="folder-list-table flex-grow-1" role="grid" aria-label="文件列表">
            <!-- 表头 -->
            <div class="folder-list-header d-flex sticky-top bg-white">
                <div class="folder-list-col name-col" style="width: 40%;">名称</div>
                <div class="folder-list-col modified-col" style="width: 20%;">修改日期</div>
                <div class="folder-list-col type-col" style="width: 20%;">类型</div>
                <div class="folder-list-col size-col" style="width: 20%; text-align: right;">大小</div>
            </div>

            <!-- 文件项 -->
            <div class="folder-list-body">
                @for (file of files; track file.path) {
                    <div role="row" tabindex="0"
                         class="folder-list-row"
                         [class.selected]="isFileSelected(file)"
                         (click)="onFileClick(file, $event)"
                         (dblclick)="fileDbl(file)"
                         (contextmenu)="onRightClick($event, file)">
                        <div role="gridcell" class="folder-list-col name-col">
                            @if (file.isDirectory) {
                                📁 {{ file.name }}
                            } @else {
                                📄 {{ file.name }}
                            }
                        </div>
                        <div role="gridcell" class="folder-list-col modified-col">
                            {{ file.lastModified | date:'yyyy-MM-dd HH:mm' }}
                        </div>
                        <div role="gridcell" class="folder-list-col type-col">
                            {{ getFileType(file) }}
                        </div>
                        <div role="gridcell" class="folder-list-col size-col" style="text-align: right;">
                            @if (file.isDirectory) {
                                --
                            } @else {
                                {{ formatSize(file.size) }}
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div (contextmenu)="onWrapperRightClick($event)">

        </div>
    </div>
    @if(contextMenuVisible && this.selectedFiles.length>0){
        <ul
            class="context-menu"
            [style.top.px]="contextMenuPosition.y"
            [style.left.px]="contextMenuPosition.x"
            (click)="$event.stopPropagation()">
            <li>
                <button (click)="onContextMenuAction('openCode')">
                    通过code space打开
                </button>
            </li>
            @if(this.selectedFiles.length === 1 && this.selectedFiles[0].isDirectory){
                <li>
                    <button (click)="onContextMenuAction('openTerminal')">在终端中打开</button>
                </li>
            }
            <li>
                <button (click)="onContextMenuAction('properties')">
                    属性
                </button>
            </li>

            <li>
                <button (click)="copyFile()">
                    复制
                </button>
            </li>

            <li>
                <button (click)="cutFile()">
                    剪切
                </button>
            </li>

            <li>
                <button (click)="onContextMenuAction('copyPath')">
                    复制文件地址
                </button>
            </li>
        </ul>
    }
    @if(contextMenuVisible && this.selectedFiles.length===0){
        <ul class="context-menu"
            [style.top.px]="contextMenuPosition.y"
            [style.left.px]="contextMenuPosition.x"
            (click)="$event.stopPropagation()">
            <li>
                <button [class.disabled]="!canPaste" (click)="pasteFile()" [disabled]="!canPaste">粘贴</button>
            </li>
            <li>
                <button (click)="onContextMenuAction('refresh')">刷新</button>
            </li>
            <li>
                <button (click)="onContextMenuAction('openTerminal')">在终端中打开</button>
            </li>
        </ul>
    }
</div>
