
<table class="folder-list-table" role="grid" aria-label="文件列表">
    <thead>
    <tr>
        <th scope="col" style="width: 40%;">名称</th>
        <th scope="col" style="width: 20%;">修改日期</th>
        <th scope="col" style="width: 20%;">类型</th>
        <th scope="col" style="width: 20%; text-align: right;">大小</th>
    </tr>
    </thead>
    <tbody>
        @for (file of files; track file.path) {
            <tr role="row" tabindex="0" class="folder-list-row"
                (dblclick)="fileDbl(file)"
                (contextmenu)="onRightClick($event, file)">
                <td role="gridcell" class="file-name">
                    @if (file.isDirectory) {
                        📁 {{ file.name }}
                    } @else {
                        📄 {{ file.name }}
                    }
                </td>
                <td role="gridcell" class="file-modified">
                    {{ file.lastModified | date:'yyyy-MM-dd HH:mm' }}
                </td>
                <td role="gridcell" class="file-type">
                    {{ getFileType(file) }}
                </td>
                <td role="gridcell" class="file-size" style="text-align: right;">
                    @if (file.isDirectory) {
                        <!-- 文件夹大小通常不显示 -->
                            --
                    } @else {
                        {{ formatSize(file.size) }}
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if(contextMenuVisible){
    <ul
        class="context-menu"
        [style.top.px]="contextMenuPosition.y"
        [style.left.px]="contextMenuPosition.x"
        (click)="$event.stopPropagation()">
        <li (click)="onContextMenuAction('openCode', contextMenuFile)">通过code打开</li>
        <li (click)="onContextMenuAction('properties', contextMenuFile)">属性</li>
        <li (click)="onContextMenuAction('copyPath', contextMenuFile)">复制文件地址</li>
    </ul>
}
